*{
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Graphik LCG'
}
form label {
	margin-bottom: 15px;
}
input, textarea,
form label input,
form label textarea {
	width: 100%;
	height: 64px;
	background-color: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-radius: 15px;
	font-weight: 400;
	font-size: 17px;
	color: #232323;
	padding-left: 25px;
	outline: none;
}
.h-t-placeholder {
	position: absolute;
	z-index: 1;
	margin-left: 25px;
	top: -7px;
	display: none;
	font-weight: 400;
	font-size: 10px;
	color: #676767;
	padding: 3px 5px;
	background-color: #F9F9F9;
}
input:focus, textarea:focus {
	border: 1px solid #A0A0A0;
}
input:focus + .h-t-placeholder {display: block;}
input::placeholder, textarea::placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #676767;
}
form label:last-child {margin-bottom: 0;}
textarea {
	margin: 0;
	height: 130px;
}
button[type='submit'] {
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #E50746;
	border-radius: 15px;
	margin-top: 50px;
	border: 0;
	outline: 0;
	color: white;
}
header, main, section, footer {width: 100%;}
ul, ul li {list-style: none;}
a, a span {text-decoration: none;}
header {
	position: fixed;
	top: 0;
	background-color: white;
	transition: background-color 0.5s ease-in-out;
	z-index: 8;
}
header.main {background-color: transparent;}
section {background-color: #F9F9F9;}
/*main {*/
/*	height: 120vh;*/
/*	background-color: green;*/
/*}*/
:root {
	--container-paddings: 260px;
	--h1-font-size: 70px;
	--h2-font-size: 44px;
	--h3-font-size: 28px;
	--h4-font-size: 14px;
	--default-font-size: 17px;
}
h1, h1 span {
	font-size: var(--h1-font-size);
}
h2, h2 span {
	font-size: var(--h2-font-size);
}
h3, h3 span {
	font-size: var(--h3-font-size);
}
h4, h4 span {
	font-size: var(--h4-font-size);
}
.site-size {
	max-width: 1920px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--container-paddings);
	padding-right: var(--container-paddings);
}
.site-size__header-container, .site-size__footer-container {
	width: 100%;
}
.site-size__header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}
.contact-box__text-desc, .link__text, .link-tel__text {color: #232323;}
.contact-box__text-desc {color: #E50746;}
header.main .contact-box__text-desc,
header.main .link__text,
header.main .link-tel__text {
	color: white;
}
header.main .contact-box__text-desc {
	color: white;
	text-decoration: underline;
}

.header-container__logo {
	width: 138px;
	height: 50px;
}
.header-container__menu {
	max-width: 631px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-container__lang-switcher {display: none;}
.header-container__burger, .header-container__search-box {
	width: 34px;
	height: 34px;
	display: none;
	flex-direction: column;
	justify-content: center;
	outline: none;
	border: none;
	background-color: transparent;
}
.header-container__search-box {
	display: block;
	background-image: url("../img/search.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	order: unset;
	margin-left: 15px;
	margin-right: 15px;
}
.header-container__burger span {
	width: 100%;
	background: #FFFFFF;
	border-radius: 1px;
	height: 3px;
	margin-bottom: 7px;
}
.header-container__burger span:last-child {margin-bottom: 0;}
.header-container__contact-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	order: unset;
}
.main-gradient-bg {
	width: 100%;
	height: 550px;
	background: linear-gradient(167.9deg, rgba(0, 54, 160, 0.7) 0.3%, rgba(24, 171, 187, 0.7) 118.94%);
}
.page-gradient-bg, .page-top-bg {
	width: 100%;
	height: 330px;
	background-image: url("../img/gradient.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.page-top-bg {
	padding-top: 100px;
	height: 100%;
	background-image: unset;
}
.top-bg {
	max-width: 1920px;
	width: 100%;
	height: 100%;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/*===first=section=start===*/
.main-section-grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: minmax(280px, 592px) minmax(280px, 676px);
	grid-auto-rows: 550px;
	justify-content: space-between;
	align-items: center;
}

.main-section-grid-container__text-box {
	width: fit-content;
}
.main-section-grid-container__text-box h1 {

}
.main-section-grid-container__text-box h1 span{
	font-weight: 500;
	line-height: 98px;
	color: white;
	grid-area: t1;
}
.main-section-grid-container__text-box h1 span:nth-child(3),
.main-section-grid-container__text-box h1 span:nth-child(5) {
	padding: 10px;
	border: 2px solid #FFFFFF;
	border-radius: 15px;
}
.text-box__desc {
	position: absolute;
	max-width: 300px;
	width: 100%;
	height: auto;
	min-height: 50px;
	z-index: 1;
	top: 17px;
	right: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: white;
	padding-left: 25px;
}

.main-section-grid-container__img {
	position: absolute;
	width: 50%;
	right: 0;
	align-self: end;
}
.main-section-grid-container__img-mob {display: none;}
/*==recipes=section==*/
.site-size__recipes-grid-container {
	width: 100%;
	padding-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
	grid-gap: 20px;
	grid-template-areas:
	"nr mr"
	"slider slider";
}
.recipes-grid-container__new-receipes,
.recipes-grid-container__marked-receipes {
	width: 100%;
	height: 400px;
	display: flex;
	border-radius: 15px;
}
.recipes-grid-container__new-receipes {
	background: linear-gradient(180deg, rgba(0, 160, 54, 0.7) 0%, rgba(187, 161, 24, 0.7) 100%);
	grid-area: nr;
}

.recipes-grid-container__marked-receipes {
	background: linear-gradient(180deg, rgba(24, 89, 188, 0.7) 0%, rgba(24, 171, 187, 0.7) 100%);
	grid-area: mr;
}
.new-receipes__img, .marked-receipes__img {
	/*position: absolute;*/
	/*width: 50%;*/
	/*left: 0;*/
	/*bottom: 0;*/
	/*border-radius: 15px;*/
	height: 100%;
}
.new-receipes__img.so, .marked-receipes__img.so {
	position: absolute;
	width: auto;
	height: 90%;
}
.new-receipes__content, .marked-receipes__content {
	max-width: 230px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	padding-right: 6%;
}
.content__title-box, .content__desc-box {display: block;}
.content__title-box {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 39px;
	/* or 39px */
	color: rgba(255, 255, 255, 0.9);
	margin-bottom: 20px;
}
.content__desc-box {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.9);
	margin-bottom: 30px;
}
.content__link-btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 25px;
	/*height: 50px;*/
	border: 1px solid #FFFFFF;
	border-radius: 15px
}
.link-btn-box__text {
	font-weight: 500;
	font-size: 17px;
	text-align: right;
	color: #FFFFFF;
}
.link-btn-box__icon {margin-left: 5px;}
.recipes-grid-container__slider-container {
	width: 100%;
	height: 100%;
	max-height: 584px;
	background-color: #799ADC;
	border-radius: 15px;
	grid-area: slider;
}
.container-slide__slide {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 58px;
}
.slide__text-block {
	max-width: 320px;
	width: 100%;
}
.slide-title__text {
	width: 100%;
	text-align: left;
	font-weight: 500;
	font-size: var(--h2-font-size);
	Line-height: 62px;
	color: white;
}
.slide__desc {
	margin-top: 20px;
	width: 100%;
	color: white;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	margin-bottom: 40px;
}
.slide__img {
	min-width: 280px;
	width: 50%;
}
.text-block__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	max-width: 200px;
	height: 50px;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
}
.link__slide-text {
	color: white;
	font-weight: 500;
	font-size: var(--default-font-size);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.link__slide-text:after {
	content: '';
	width: 12px;
	height: 8px;
	display: block;
	background-image: url("../img/Vector 2.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 5px;
}
	/*==Products=Section==*/
.site-size__our-production-container {padding-top: 100px;}
.title-row__link {
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.our-production-container__title-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.products-link {
	font-weight: 500;
	font-size: var(--default-font-size);
}
.title-row__link:after, .row-links__link-default:after, .btnrow:after {
	content: '';
	width: 9px;
	height: 9px;
	display: block;
	background-image: url("../img/arrow.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 8px;
}
.btnrow:after {
	background-image: url("../img/warrow.png");
}
.link-color {
	color: #E50746;
}
.content__tabs {
	padding: 50px 0;
	/*border-top: 1px solid #EFEFEF;*/
}
.content__tabs-row {
	max-width: 568px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 46px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #EFEFEF;
	transition: all 0.5s ease-in-out;
}
.tabs-row__tab {
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*align-items: flex-start;*/
	opacity: 0.5;
	margin-right: 35px;
	cursor: pointer;
	box-sizing: border-box;
}
.tab__text {
	font-weight: 500;
	font-size: var(--default-font-size);
	opacity: 0.5;
	color: #E50746;
}
.this-tab .tab__text {
	opacity: 1;
}
.tabs-row__tab svg {
	margin-right: 10px;
}
.tabs-row__tab.this-tab {
	opacity: 1;
	border-bottom: 2px solid #E50746;
}
.tabs-row__tab:last-child {
	margin-right: 0;
}
.content__subtabs {
	max-width: 811px;
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}
.subtabs__subtab {
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 9px 18px;
	border: 1px solid #E8E8E8;
	border-radius: 15px;
	transition: all 0.5s ease-in-out;
	margin-right: 10px;
	cursor: pointer;
}
.subtabs__subtab.current {
	background-color: #21A5B5;
}
.subtab__text {
	color: black;
	font-weight: 400
}
.current .subtab__text {
	color: white;
	font-weight: 500
}
.subtabs__subtab:last-child {
	margin-right: 0;
}

.tabs__tab-contents {
	width: 100%;
	height: auto;
	display: grid;
	/*grid-template-columns: repeat(auto-fill, minmax(280px, 335px));*/
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 390px;
	grid-gap: 20px;
	/*justify-content: space-between;*/
	align-items: center;
	/*margin-top: 40px;*/
}

.tab-contents__card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid #F4F4F4;
	border-radius: 10px;
	padding: 58px;
}
.tab-contents__card:hover {
	border: 1px solid #E8E8E8;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}
.tab-contents__card:hover .card__title{
	margin-top: 20px;
}
.properties__property-row:last-child {
	display: none;
}
.tab-contents__card:hover .properties__property-row:last-child {
	display: flex;
}

.card__image {width: 100%;}
.card__marks {
	width: 32px;
	height: 74px;
	position: absolute;
	top: 12px;
	right: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.marks__mark {
	width: 32px;
	height: 32px;
	border-radius: 100000px;
	border: 3px solid;
}
.cold {
	background-color: #0AAE5E;
	border-color: rgba(10, 174, 94, 0.25);
}
.freeze {
	border-color: rgba(52, 115, 255, 0.25);
}
.card__title {
	width: 100%;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 10px;
}
.title__text-card {
	color: #232323;
	font-weight: 500;
	font-size: var(--default-font-size);
}
.card__properties {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.property-row__property {
	color: #676767;
}
.properties__property-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.properties__property-row:last-child {
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
.card__more {
	position: absolute;
	left: -1px;
	right: -1px;
	background-color: white;
	display: none;
	padding: 15px 58px;
	justify-content: space-between;
	align-items: center;
	/*border-top: 1px solid #E8E8E8;*/
	border: 1px solid #E8E8E8;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	top: 100%;
	z-index: 1;
}

.tab-contents__card:hover .card__more {display: flex;}
.property-row__property, .row__value, .box__property-name {
	font-weight: 400;
	font-size: 14px;
}
.row__value {
	color: #0036A0;
}
.row__value:first-child {
	font-size: var(--default-font-size);
	text-transform: uppercase;

}
.box__property-name {
	margin-top: 5px;
	font-weight: 400;
	font-size: 12px;
}

.more__text {
	color: #E50746;
	font-weight: 400;
	font-size: 14px;
}
.more__icon {
	width: 22px;
	height: 22px;
	background-image: url("../img/arrow button.png");
	background-size: cover;
	background-repeat: no-repeat;
}


/*====receipes==section===*/
.site-size__default-grid-container {
	padding: 50px 0;
	border-top: 1px solid #EFEFEF;
}
.site-size__default-grid-container:first-child {
	border-bottom: none;
	border-top: 1px solid #EFEFEF;
}
.site-size__default-grid-container:last-child {
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
}
.default-grid-container__title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.default-grid-container__grid-default {
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-rows: auto;
	justify-content: space-between;
	align-items: center;
}
.grid-default__item, .grid-posts__post {
	width: 100%;
	height: 370px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	border-radius: 10px;
}
.grid-default__item img, .grid-posts__post img {width: 100%;}
.title-box__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #676767;
	margin-top: 15px;
	display: inline-block;
}
.receipes__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	background-color: white;
}

.info__title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.title-row__text {
	font-weight: 500;
	font-size: var(--default-font-size);
	color: #232323;
}
.info__desc {
	color: #676767;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 15px;
}
.info__properties-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.properties-row__property-box {
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.property-box__icon {
	width: 16px;
	height: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 5px;
}
.property-box__value {
	color: #0036A0;
	font-size: 14px;
	font-weight: 400;
}
.info__hidden-block {
	width: 100%;
	margin-top: 40px;
	visibility: hidden;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	transition: all 0.5s ease-in-out;
}
.hidden-block__desc {
	font-weight: 400;
	font-size: var(--default-font-size);
	color: #232323;
}
.hidden-block__row-props {
	display: flex;
	width: 100%;
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
}
.row-props__item {
	width: auto;
	display: grid;
	grid-template-columns: repeat(2, minmax(10px, auto));
	grid-template-areas:
	"v t"
	"subtext subtext";
	gap: 10px;
}
.item__prop-name, .item__prop-val, .item__prop-val {
	width: auto;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	grid-area: v;
	color: #0036A0;
}
.item__prop-val {grid-area: t;}
.item__prop-text {
	grid-area: subtext;
	color: #676767;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
}
.grid-default__item:hover .receipes__info{
	position: absolute;
	bottom: 0;
}
.grid-default__item:hover .info__hidden-block {
	display: flex;
	visibility: visible;
}
/*===news=sections===*/
.grid-default__item.news {
	background-color: white;
	height: 100%;
	transition: all 0.5s ease-in-out;
}
.news__info-block {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.info-block__title, .info-block__date, .info-block__tag {display: block;}
.info-block__title {
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #232323;
	margin-top: 20px;
	margin-bottom: 10px;
	height: auto;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.info-block__date {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #676767;
	margin-bottom: 15px;
}
.info-block__tag {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #E50746;
}
/*===two=col=default-section===*/
.site-size__two-col-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.two-col-content__col-one {
	min-width: 340px;
	width: 50%;
}
.two-col-content__col-two {
	min-width: 280px;
	width: 50%;
}
.col-two__img {width: 100%;}
.col-one__title {margin-bottom: 25px;}
.col-one__desc {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	/* or 26px */
	color: #676767;
	margin-bottom: 40px;
}
.col-one__title .title__text {
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	line-height: 140%;
	color: #232323
}
.col-one__row-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.row-links__link-default {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 30px;
}
.row-links__link-default:last-child {margin-right: 0;}
/*===four=columns===*/
.site-size__grid {
	display: grid;
}
.four-columns {
	padding-top: 70px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-column-gap: 12px;
	grid-row-gap: 5px;
	padding-bottom: 90px;
}
.four-columns__item-card {
	padding: 20px 40px 40px;
	background-color: #FFFFFF;
	border: 1px solid #F4F4F4;
	border-radius: 10px;
	min-height: 220px;
}
.item-card__title {
	margin-top: 50px;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #0036A0;
}
.item-card__desc {
	margin-top: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #676767;
	line-height: 28px;
	text-align: left;
}
.item-card__icon {
	position: absolute;
	top: 20px;
	right: 26px;
}
/*===logo=section===*/
.auto-fill-columns {
	grid-template-columns: repeat(auto-fill, minmax(100px, 230px));
	justify-content: space-between;
	grid-row-gap: 30px;
	grid-template-rows: auto;
	align-items: center;
}
.logos img {margin: 0 auto;}
/*===map=section===*/
.site-size__map {
	padding-top: 150px;
	padding-bottom: 70px;
}
.map__title-h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	line-height: 98px;
	color: #232323;
	text-align: left;
}
.site-size__map img {
	width: 100%;
}
/*====contact=section===*/
.site-size__contact-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-section__img-column img {width: 100%;}
.contact-section__form-column {
	max-width: 550px;
	width: 100%;
}
.contact-section__form-column h2{
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	line-height: 98px;
	color: #232323;
}
.contact-section__form-column p {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	color: #676767;
}
.form-column__c-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 60px;
}
.btnrow {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
/*===footer=start===*/
footer {
	padding-top: 100px;
	background-color: #f9f9f9;
}
.site-size__footer-container {
	padding: 100px 150px 45px;
	background-color: #F0F0F0;
	border-radius: 15px 15px 0px 0px;
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(3, minmax(auto, 320px));
}
.footer-container__col {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	align-items: flex-start;
}
.footer-container__logo {
	width: 138px;
	height: 50px;
}
/*.footer-container__col:last-child {align-items: flex-end;}*/
.col__row-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 40px;
}
.col__row-box:last-child {
	margin-bottom: 0px;
}
.row-box__title {
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #676767;
	margin-bottom: 15px;
}
.col__row-box a, .col__row-box p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #0036A0;
	margin-bottom: 10px;
}
.social-row {
	display: grid;
	grid-template-columns: repeat(auto-fill, 44px);
	grid-auto-rows: 44px;
	grid-gap: 15px;
}
.social-row__icon {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/facebook.png");
}
.social-row .social-row__icon {margin: 0;}
.col__row-box a:last-child {margin-bottom: 0}
/*===NEWS=PAGE===*/
.page-gradient-bg .site-size {
	height: 100%;
}
.site-size__content-row {
	width: 100%;
	height: 100%;
	padding-top: 150px;
	padding-bottom: 50px;
}
.site-size__content-row > h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	color: white;
}
.item__crumb, .item__sep, .sep, .sep-item,
.info-row__breadcrumbs-row span{
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: white;
}
.sep, .sep-item,
.info-row__breadcrumbs-row span{
	color: #676767;
}
.content-row__breadcrumbs-row {
	margin-bottom: 44px;
}
.default-grid-container__filters-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filters-row__filters {
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.filters-row__group {
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.filters-row__group .filters-row__filters {
	width: auto;
	margin-right: 25px;
}
.filters-row__group .filters-row__filters:last-child {
	margin-right: 0;}
.filters__filter-form {
	position: absolute;
	z-index: 1;
	top: calc(100% + 20px);
	width: 100%;
	display: none;
	margin-top: 10px;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	box-shadow: 0px 8px 10px rgba(35, 35, 35, 0.12);
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.filters-row__tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tabs__tab {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 35px;
}
.tabs__tab span {
	font-weight: 500;
	font-size: 17px;
	margin-left: 10px;
	color: #E50746;
}
.tabs__tab:last-child {
	margin-right: 0;
}
.filters__filter-form label {
	display: flex;
	align-items: center;
}
.filters__filter-form label input {
	width: 14px;
	height: 14px;
	border: 1px solid #232323;
	margin-right: 10px;
}
.filters__filter-form button[type="submit"]{
	margin-top: 20px;
	height: 44px;
}
.filter__text-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.filter__text-row > span {margin-right: 10px;}
/*===ABOUT=PAGE===*/
.site-size__anchors {
	width: 100%;
	/*display: grid;*/
	/*grid-template-columns: repeat(auto-fill, minmax(150px, 250px));*/
	/*grid-column-gap: 40px;*/
	/*grid-row-gap: 20px;*/
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}
.anchors-row {margin: 50px 0;}
.anchors__item {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #E50746;
	margin-right: 40px;
}
.anchors__item:last-child {
	margin-right: 0;
}
.welcome-section, .our-serts, .anchors-row {
	padding-top: 40px;
	background-color: white;
	padding-bottom: 120px;
}
.anchors-row {padding: 0;}
.welcome-section {
	padding-top: 0;
}
.about-welcome-section__title {
	margin-bottom: 50px;
	font-style: normal;
	font-weight: 600;
	font-size: var(--h2-font-size);
	line-height: 150%;
	/* or 66px */
	color: #232323;
}
.about-welcome-section__content {
	width: 100%;
	display: grid;
	grid-column-gap: 70px;
	grid-template-columns: minmax(500px, 880px) 450px;
}
.about-welcome-section__content p,
.about-welcome-section__content img {
	width: 100%;
	order: unset;
}
.about-welcome-section__content p {
	font-style: normal;
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 150%;
	/* or 26px */
	color: #676767;
}
.about-welcome-section__banner {
	width: 100%;
	padding: 50px 79px;
	background-color: #4670A8;
	border-radius: 15px;
	margin: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.about-welcome-section__banner p {
	max-width: 690px;
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 150%;
	/* or 39px */
	color: #FFFFFF;
}
.banner__img {
	max-width: 222px;
	width: 100%;
}
.about-welcome-section__row-content {
	width: 100%;
	display: grid;
	grid-template-columns: minmax(280px, 424px) minmax(400px, 800px);
	align-items: center;
	grid-column-gap: 115px;
}
.row-content__img {
	max-width: 424px;
	width: 100%;
	margin: unset;
}
.row-content__text-box {
	max-width: 800px;
	width: 100%;
	min-width: 450px;
}
.row-content__text-box h3 {
	margin-bottom: 30px;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	color: #232323;
}
.row-content__text-box p {
	font-style: normal;
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 150%;
	/* or 26px */
	color: #676767;
}
.site-size__container-serts {
	padding-top: 120px;
	padding-bottom: 80px;
}
.site-size__container-serts h2 {
	width: 100%;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: var(--h2-font-size);
	color: #232323;
}
.container-serts__serts {
	margin-top: 90px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, minmax(350px, 1fr));
	grid-column-gap: 100px;
	grid-row-gap: 80px;
}
.serts__sert {
	width: 100%;
	display: grid;
	grid-template-columns: minmax(auto, 200px) 1fr;
	grid-row-gap: 13px;
	grid-auto-rows: auto;
	grid-template-areas:
		"icon text"
		". download";
	align-items: center;
}
.serts__sert img {
	width: 100%;
	grid-area: icon;
}
.serts__sert p {
	text-align: left;
	grid-area: text;
	font-style: normal;
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 150%;
	/* or 26px */
	color: #676767;
}
.sert__download-doc {
	width: 100%;
	grid-area: download;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.site-size__control-section {
	width: 100%;
	display: grid;
	grid-column-gap: 100px;
	grid-template-columns: repeat(2, 1fr);
}

.site-size__control-section img {
	width: 100%;
	order: unset;
}
.control-section__text-block {
	order: unset;
}
.control-section__text-block h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 44px;
	line-height: 150%;
	/* identical to box height, or 66px */
	color: #232323;
	margin-bottom: 50px;
}

.control-section__text-block p {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	/* or 26px */
	color: #676767;
	margin-bottom: 15px;
}
.site-size__container-serts p:last-child {
	margin-bottom: 0;
}
.open {
	display: flex;
}
.popups {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9;
	background: #000000b3;
	display: none;
	justify-content: center;
	align-items: center;
}
.popups__callback-form {
	max-width: 660px;
	width: 100%;
	height: auto;
	max-height: 630px;
	padding: 100px 70px;
	background-color: white;
	border-radius: 15px;
	overflow-y: auto;
	display: none;
}
.popups__callback-form h2 {
	font-style: normal;
	font-weight: 500;
	font-size: var(--h2-font-size);
	line-height: 140%;
	color: #232323;
	margin-bottom: 20px;
}
.popups__callback-form p {
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 150%;
	color: #676767;

}
.callback-form__close {
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}
.soc-section {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #F9F9F9;
}
.soc h2 {
	font-style: normal;
	font-weight: 600;
	font-size: var(--h2-font-size);
	line-height: 150%;
	/* identical to box height, or 66px */
	text-align: center;
	color: #232323;
	width: 100%;
	margin-bottom: 90px;
}
.soc-content__row-content {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 94px;
	margin-bottom: 70px;
}
.soc-content__row-content:last-child {
	margin-bottom: 0;
}
.soc-content__row-content img {
	width: 100%;
}
.row-content__text-block h3 {
	font-weight: 500;
	font-size: var(--h3-font-size);
	line-height: 150%;
	/* identical to box height, or 42px */
	color: #232323;
	margin-bottom: 20px;
}
.row-content__text-block p {
	font-style: normal;
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 170%;
	color: #676767;
}
.soc-content__row-content:nth-child(even) img {
	order: 1;
}
.soc-content__row-content:nth-child(even) .row-content__text-block {
	order: 2;
}
/*====article=start====*/
.article-container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding-top: 100px;
}
.article-container__article {
	padding: 50px 100px 70px 100px;
	background-color: #FFFFFF;
	border-radius: 0px 0px 15px 15px;
}
.article__info-row {
	margin-bottom: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info-row__info-block {
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.info-row__info-block .info-block__tag {
	margin-right: 20px;
}
.info-row__info-block .info-block__date {margin-bottom: 0;}
.article-thumbnail-img {
	width: 100%;
	border-radius: 15px
}
article h2 {
	font-style: normal;
	font-weight: 500;
	font-size: var(--h2-font-size);
	line-height: 150%;
	/* or 66px */
	color: #232323;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 30px;
}
article p {
	font-style: normal;
	font-weight: 400;
	font-size: var(--default-font-size);
	line-height: 150%;
	/* or 26px */
	color: #232323;
	margin-bottom: 20px;
}
article p:last-child {
	margin-bottom: 0;
}
.article__social-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0;
	padding: 30px 0;
	border-bottom: 1px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
}
.socials__link {
	font-style: normal;
	font-weight: 500;
	font-size: var(--default-font-size);
	color: #E50746;
}
.recents-section__grid-posts {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-top: 30px;
}
.grid-posts__post {
	border: 1px solid #F4F4F4;
	box-shadow: 0px 3px 15px rgba(35, 35, 35, 0.05);
}
@media (max-width: 1790px) {
	:root {
		--container-paddings: 260px;
		--h1-font-size: 60px;
		--h2-font-size: 40px;
		--h3-font-size: 25px;
		--h4-font-size: 14px;
	}
	.text-box__desc {max-width: 270px;}
	.col__row-box {width: 100%;}
	.col__row-box a, .col__row-box p {font-size: 20px;}
}

@media (max-width: 1600px){
	:root {
		--container-paddings: 160px;
		--h1-font-size: 60px;
		--h2-font-size: 34px;
		--h3-font-size: 25px;
		--h4-font-size: 14px;
	}
	.site-size {

	}
	.header-container__contact-box {
		/*margin-left: auto;*/
		/*margin-right: 50px;*/
		order: 5;
	}
	.main-section-grid-container {grid-auto-rows: 470px;}
	.link-tel__text {
		font-weight: 500;
		font-size: 20px;
	}
	.contact-box__text-desc {
		font-weight: 400;
		font-size: 17px;
	}
	.content__title-box {
		font-size: 24px;
		line-height: 110%;
	}
	.slide-title__text {line-height: 48px;}
	.title__text {line-height: 100%;}
	.col-one__title .title__text {
		font-weight: 500;
		font-size: 60px;
		line-height: 140%;
	}
	.map__title-h2, .contact-section__form-column h2 {
		font-weight: 500;
		font-size: 60px;
		line-height: 140%;
	}
	.recipes-grid-container__new-receipes, .recipes-grid-container__marked-receipes {height: 324px;}
	.tabs__tab-contents {
		grid-template-columns: repeat(3, 1fr);
		justify-content: flex-start;
	}
	.site-size__control-section {
		grid-template-columns: 1fr;
		grid-row-gap: 30px;
	}
	.control-section__text-block {order: 1;}
	.site-size__control-section img {order: 2;}
	.four-columns {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 20px;
	}
}
@media(max-width: 1220px){
	.about-welcome-section__content {
		grid-template-columns: 1fr;
		grid-column-gap: unset;
		grid-row-gap: 20px;
	}
	.about-welcome-section__content img{
		order: 1;
	}
	.about-welcome-section__content p {order: 2;}
}
@media (max-width: 1369px){
	:root {
		--container-paddings: 100px;
		--h1-font-size: 50px;
		--h2-font-size: 34px;
		--h3-font-size: 25px;
		--h4-font-size: 14px;
	}
	.text-box__desc {max-width: 240px;}
	.tabs__tab-contents {
		/*grid-template-columns: repeat(auto-fill, minmax(auto, 280px));*/
		grid-template-columns: repeat(3, 1fr);
		/*justify-content: space-between;*/
	}
}
@media (max-width: 1100px){
	:root {
		--container-paddings: 60px;
		--h1-font-size: 50px;
		--h2-font-size: 30px;
		--h3-font-size: 25px;
		--h4-font-size: 14px;
	}
	.tabs__tab-contents {
		grid-template-columns: repeat(auto-fill, minmax(auto, 280px));
		justify-content: space-between;
	}
	.header-container__menu {max-width: 480px;}
	.about-welcome-section__row-content {
		grid-template-columns: 1fr;
		grid-column-gap: unset;
		grid-row-gap: 50px;
	}
	.row-content__img {
		margin: 0 auto;
	}
	.recents-section__grid-posts {grid-template-columns: repeat(2, 1fr);}
}
/*===MOBILE=STARTED===*/
@media (max-width: 980px) {
	.header-container__menu {display: none;}
	.header-container__burger {
		display: flex;
		order: 6;
	}
	.main-gradient-bg, .main-section-grid-container {
		position: initial;
		grid-template-columns: 460px;
		justify-content: flex-start;
		overflow: hidden;
	}
	.main-section-grid-container__text-box {
		/*max-width: 460px;*/
		width: 100%;
	}
	.main-section-grid-container__img {
		position: absolute;
		width: 100%;
	}
	.header-container__lang-switcher {display: none;}
}
@media (max-width: 768px){
	:root {
		--container-paddings: 30px;
		--h1-font-size: 50px;
		--h2-font-size: 24px;
		--h3-font-size: 20px;
		--h4-font-size: 14px;
	}
}